a:link{
    color: red;
    background-color: yellow;
}
a:visited{
    color: green;
}
a:hover{
    color: tomato;
}

a:hover{
    display: inline-block;
    color: red;
    background: yellow;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
}
.Mominul:hover{
    display: flex;
    color: red;
    background-color: green;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 7px;
    transition: 0.3s;
}
h1{
    border: 5px solid red;
    display: inline;
    padding: 15px;
    margin-bottom: 20px;
}
span{
    border: 5px solid green;
    display: block;
}
/* li{
    display: inline-block;
} */
li{
    display: inline-block;
}

/*div{
    background: green;
    width: 150px;
    height: px;
    position: relative;
    top: 0px;
    right: 0px;
}
div.a{
    background: red;
    width: 75px;
    height: 75px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: auto;
}
div.b{
    background: yellow;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top: auto;

}*/
div{
    background: green;
    width: 120px;
    height: 120px;
    position: sticky;
    top: 0px;
    right: 0px;
}
div.a{
    background: red;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    
    top: auto;
}
div.b{
    background: yellow;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    top: auto;

}
.bagh{
    background: yellow;
    width: 200px;
    height: 200px;
    position: sticky;
    top: 0px;
    right: 0px;

}
.horin{
    background: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    top: auto;

}
.shial{
    background: green;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    top: auto;
}